*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*Desktop customization*/


:root {
	--primary-clr: blueviolet;
	--secondary-clr: white;
	--accent-clr: #d9a350;
	--primary-font: Playfair Display;
	--secondary-font: Anton;
}

html{
	height: 100%;
}

body{
	background-color: var(--primary-clr);
	width: 100%;
	margin: 0 auto;
}

header{
	margin: 0 10% 10% 10%;
}
section{
	margin: 1vh 10% 5% 10%;
}



/*  navigation bar  */


.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 15vh;
	color: var(--secondary-clr);

	font-family: sans-serif;
    font-family: var(--primary-font);
}

.logo{
	flex: 1;
}

.logo img{
	width: 20vw;
	filter: drop-shadow(white, 1px);
}

.nav-links{
	flex:1;
	display: flex;
	justify-content: space-between;

	list-style-type: none;
}

.nav-links li a{
	text-decoration: none;
	color: var(--secondary-clr)
}

/* hamburger menu */

.hamburger{
	display: none;
}

/*  landing page  */


.front-page{
	font-family: serif;
    font-family: var(--primary-font);
	color: var(--secondary-clr);
	min-height: 50%;
	margin-top: 10%;

	animation: float-in 3s;
}

@keyframes float-in{
	0%{
		opacity: 0;
		transform: translateY(20%);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

.front-text h1{
	margin-bottom: 3vh;
	font-family: sans-serif;
	font-family: var(--secondary-font);
	font-size: 4em;
}

.front-text p{
	margin-bottom: 3vh;
	font-size: 2.5em
}

button{
	border: var(--accent-clr) solid 3px;
	background-color: transparent;
	color: var(--secondary-clr);
	text-decoration: none;
	text-align: center;

	display: inline-block;
	padding: 2%;
	margin-top: 1%;

	font-family: serif;
	font-family: var(--primary-font);
	font-size: 1rem;
	font-stretch: expanded;
}

button:hover{
	cursor: pointer;
	transform: translateY(2%);
}


/*  content pages  */


.subheading{
	font-style: italic;
	font-size: 6rem;

	margin-bottom: 5%;
}

highlight{
	color: var(--accent-clr);

	margin-right: 1%;
}

h2{
	font-family: sans-serif;
	font-family: var(--secondary-font);
	font-size: 1.5rem;
}

h3{
	font-weight: normal;
	font-size: 1.25em;
}

.sections{
	background-color: var(--secondary-clr);
	padding-top: 5%;
	padding-bottom: 10%;
}


/*  virtual section  */


#virtual iframe{
	width: 100%;
}
/*  learn section  */

.boxes img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.box-1, .box-2, .box-3{
	position: relative;
	height: 200px;
}

.boxes h2{
	display: block;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	
	background-color: rgba(0, 0, 0, .5);
	color: var(--secondary-clr);

	font-size: 4rem;

	padding-left: 3%;
	border-left: 7px solid var(--accent-clr)
}

.boxes a:hover{
	cursor: pointer;
	opacity: .7;
}

/*  access section  */


.map{
	display: flex;
	margin-top: 5%;
}

.map div{
	flex:1;
	font-family: sans-serif;
	font-family: var(--secondary-font);
	font-size: 4vh;
	align-content: center;

	display: flex;
}

.address{
	display: inline-block;
}

.map i{
	transform: translateY(5px);
	margin-right: 10px;
}

.map iframe{
	flex:1;
}


/*floating back to top button*/


.additional-elm{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99;
	
	background-color: var(--secondary-clr);
	border-radius: 50%;
}
i{
	color: var(--accent-clr);
}

.fas fa-arrow-up{
	padding: 2%;

	font-size: 2rem;
}

/*footer*/


footer{
	text-align: center;
	color: var(--secondary-clr);
	padding: 5%;
}

/*  Tablet Customization  */

@media screen and (max-width: 768px) {

	/* landing page landing page landing page */
	.logo img{
		width: 30vw;
	}
	.nav-links{
		display: none;
	}
	.front-page{
		padding-top: 20%;
		padding-bottom: 40%;
	}
	.front-text h1{
		font-size: 3.5em;
	}
	.front-text p{
		font-size: 1.5em;
	}

	/* burger menu */
	.hamburger{
		display: block;
		position: absolute;
		cursor: pointer;
		right: 5%;
	}
	.line{
		width: 30px;
		height: 3px;
		background: var(--accent-clr);
		margin: 5px;
	}
	
	.nav-links{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 85vh;
		width: 110%;
	
		position: fixed;
		top: 15vh;
		left:-5%;
	
		background-color: var(--primary-clr);
		text-decoration: none;
		list-style: none;
	
		clip-path: circle(100px at 120% -50%);
		-webkit-clip-path: circle(100px at 120% -50%);
	}
	
	.nav-links.open{
		clip-path: circle(2000px at 90% -30%);
		-webkit-clip-path: circle(2000px at 90% -30%);
	}

	}
	.nav-links a:hover{
		cursor: pointer;
		transform: translateY(2%);
	}
	
	/* content content content content */
	.subheading{
		font-size: 5rem;
	
		margin-bottom: 10vh;
	}
	#explore h2{
		margin-bottom: 20px;
		margin-top: 30px;
	}

	/* access access access access */
	.map{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	
	.map div{
		width: 100%;
		margin-bottom: 20px;

		 font-size: 3vh;
	}
}


/*  Mobile Customization  */


@media (max-width: 400px) {
	.logo img{
		width: 50%;
	}
	.front-page{
		padding-bottom: 20%;
	}
	.front-text h1{
		font-size: 3em;
	}
	.front-text p{
		font-size: 1em;
	}

	/* content content content content */
	section{
		margin: 5%;
	}
	.subheading{
		font-size: 30px;
	
		margin-bottom: 10%;
	}
	h3{
		line-height: 20px;
		margin-bottom: 10px;
	}

	/* learn learn learn learn */
	.boxes h2{
		font-size: 20px;
	
		padding-left: 3%;
		border-left: 7px solid var(--accent-clr)
	}

}
